<!DOCTYPE html>
<html>
<head>
  <title>Router Configuration Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="body">
  <ul class="navbar navbar-1">
    <li><a class="active" href="#home">Home</a></li>
  </ul>

  <ul class="navbar navbar-2">
    <li><img src="{{ url_for('static', filename='images/huawei_logo.png') }}" style="width: 150px; height: auto; margin-top: 0%;" ></li>
  </ul>
  <div class="main">
   <div class="container">
    <div class="row">
        <h1>Router Configuration Generator</h1>
     <!--   <p><center>Welcome to Router Configuration Generator!</center></p>     -->   
         <div class="white-section">
           <a href="/upload">Go to Upload Page</a>
         </div>

    <div class="footer">

    </div>
  </div>
</body>
</html>


